/* font => inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font => cardo */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

/*  font => card0 */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: none;
    text-decoration: none;
    list-style: none;
}

.contener {
    max-width: 100%;
    max-height: 100vh;
}

.forst {
    max-width: 100%;
    min-height: 1111px;
    background-color: #1B3764;
}

.forst__header {
    max-width: 1300px;
    max-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-left: 120px;
    /* margin-top: 50px; */
}

.headetr__img {
    margin-right: 10px;
}

.fa-facebook-f {
    background-color: #ffff;
    padding: 5px 5px;
    /* margin-right: 80px; */
    font-size: 30px;
}

.fa-telegram {
    background-color: #ffff;
    padding: 5px 5px;
    font-size: 30px;
    /* margin-right: 30px; */
}

.fa-instagram {
    background-color: #ffff;
    padding: 5px 5px;
    /* margin-right: 30px; */
    font-size: 30px;
}

.fa-angle-down {
    display: inline;
}

.forst__header--ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    /* margin-left: 280px; */
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.ul__li {
    background-color: #FFFFFF;
    border-radius: 20px;

    padding: 15px 15px;
}

.ul__li:hover {
    color: #FFCA42;
    background-color: #FFCA42;
}


.header__ul--btn {
    max-width: 150px;
    max-height: 150px;
    background-color: #FFCA42;
    padding: 10px 10px;
    border: none;
    font-family: "Cardo", serif;

}

.header__ul--btn:hover {
    color: black;
    background-color: #FFFFFF;
}


.one {
    width: 1300px;
    height: 800px;
    display: flex;
    margin-top: 200px;
    margin-left: 150px;

}

.second {
    width: 615px;
    height: 520px;
    flex-direction: column;
    text-align: start;
    margin-top: 150px;
}

.b {
    width: 45px;
    height: 10px;
    border: 5px;
    color: #FFCA42;
}

.second__tetx {
    color: #FFFFFF;
    font-family: "Cardo", serif;
    font-size: 25px;
    margin-left: 50px;
    font-family: initial;
    display: block;
}

.second__str {
    width: 615px;
    height: 145px;
    font-family: "Cardo", serif;
    font-size: 40px;
    color: #FFFFFF;
}

.second__paragref {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    color: #B4C7E7;
}

.second__btn {
    width: 220px;
    height: 65px;
    border: 5px;
    font-size: 30px;
    background-color: #FFCA42;
    color: #1B3764;
    margin-top: 20px;
}

.second__one {
    width: 250px;
    height: 65px;
    border: 5px;
    font-size: 30px;
    border: none;
    background-color: #1B3764;
    color: #FFFFFF;
}

.second__btn:hover {
    background-color: #1B3764;
    color: #FFFFFF;
}

.second__one:hover {
    color: #1B3764;
    background-color: #FFCA42;
}

.second__div {
    width: 580px;
    height: 65px;
    gap: 30px;
    display: flex;
    margin-top: 33px;
}

.q {
    width: 10px;
    height: 10px;
    border: 1px solid #FFCA42;
    background-color: #FFCA42;
    border-radius: 50%;
}

.w {
    width: 85px;
    height: 30px;
    font-family: "Cardo", serif;
    font-size: 25px;
    color: #FFFFFF;
}

.two {
    display: flex;
}

.two__ul {
    display: flex;
    width: 580px;
    height: 65px;
    gap: 111px;
    font-family: "Cardo", serif;
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 35px;
    margin-top: -20px;
}

.three {
    width: 570px;
    height: 780px;
    border: 12px solid whitesmoke;
    margin-left: 100px;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.three__img {
    margin-left: 30px;
    margin-top: 20px;
    display: block;
}

.three__tetx {
    width: 480px;
    height: 60px;
    font-size: 18px;
    margin-top: 15px;
    font-family: "Cardo", serif;

}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 12px;

}

.divider .line {
    width: 50px;
    height: 2px;
    background-color: #1B3764;
}

.divider .star {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.three__border {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    background-color: #FFCA42;
    box-shadow: 0 0 0 12px #ffe8a3;
    margin-left: 300px;

}

.three__tettx {
    padding-top: 30px;
    color: #1B3764;
    font-size: 20px;
    font-family: "Cardo", serif;
}

.three__uff {
    margin-top: 10px;
    font-family: "Cardo", serif;
    font-size: 15px;
}

.p {
    display: flex;
}

.four__img {
    margin-top: -120px;
    margin-left: 30px;
}

.paragref {
    margin-right: 100px;
    color: #1B3764;
    font-size: 20px;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
}

.logo {
    color: #1B3764;
    font-size: 30px;
    margin-top: 10px;
}

.italic {
    color: #1B3764;
    font-size: 20px;
    margin-top: 10px;
}

@media (min-width:300px) and (max-width:800px) {
    .forst {
        min-height: auto;
        padding-bottom: 50px;
    }

    .forst__header {
        max-width: 95%;
        margin-right: auto;
        margin-left: auto;
        gap: 20px;

    }

    .ul__li {
        display: none;
    }

    .fa-telegram {
        margin-top: 15px;
    }

    .one {
        max-width: 95%;
        min-height: auto;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }

    .second {
        max-width: 100%;
        min-height: auto;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .second__div {
        max-width: 95%;
        gap: 10px;
        min-height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .two__ul {
        max-width: 95%;
        min-height: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 65px;
        margin-top: 10px;
    }

    .three {
        margin-top: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}